# Core
torch
pandas
numpy
matplotlib
seaborn
scikit-learn
tqdm

# PyTorch Lightning
pytorch-lightning>=2.0
torchmetrics>=1.0
rich

# Hugging Face Hub
huggingface_hub

# Experiment Tracking
wandb

# Hyperparameter Optimization
optuna
optuna-integration
optuna-dashboard
plotly
kaleido
joblib

# Configuration
pyyaml
